
<footer class="bg-light">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Huflit -Đồ án lập trình web nâng cao</a>
    </div>
    <!-- Copyright -->

  </footer>